<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">BanqueApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarClient" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-users"></i> Clients
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarClient">
            <li><a class="dropdown-item" routerLink="/clients">Liste des clients</a></li>
            <li><a class="dropdown-item" routerLink="/clients/ajouter">Ajouter un client</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarCredit" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-money-check-alt"></i> Crédits
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarCredit">
            <li><a class="dropdown-item" routerLink="/credits">Liste des crédits</a></li>
            <li><a class="dropdown-item" routerLink="/credits/ajouter">Ajouter un crédit</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarRemb" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-wallet"></i> Remboursements
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarRemb">
            <li>
              <a class="dropdown-item disabled" href="#">
                Requiert un ID de crédit
              </a>
            </li>
          </ul>
        </li>

      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Rechercher..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
      </form>
    </div>
  </div>
</nav>
